 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

 body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    color: #FFF;
 }

nav{
   background-color: #030082;
   display: flex;   
   height: 8vh;
   align-items: center;
}

.space{
   flex: 1;
}

.logo , .sobre , .inicio , .contato{
   width: 155px;
   text-align: center;
}

a{
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
}

.bg-section{
   background-image: url(./assets/praia-head.jpg);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   display: flex;
   height: 400px;
   width: 100%;
   flex-wrap: wrap;
}

.shadow{
   height: 100%;
   width: 100%;
   background-color: #00000056;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pesquisa-passagens{
   background: linear-gradient(#030082 , #3385FF);
   height: 240px;
   width: 600px;
   margin-top: 60px;
   border-radius: 25px;
}

button{
  width: 600px; 
  height: 30px;
  margin: 15px;
  border-radius: 15px;
  background-color: #030082;
  border-color: #FFF;
  color: #FFF;
}

.title-main{
   margin: 0;
   font-weight: bold;
   font-size: large;
   display: flex;
   justify-content: center;
   padding-top: 30px;
}

form{
   display: flex;
   justify-content: center;
   gap: 40px;
   font-weight: bold;
   padding-top: 30px; 
}

.destino , .passageiro , .data{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

input{
   border-radius: 15px;
   height: 20px;
}

.ofertas{
   background: linear-gradient(90deg, #030082 39.81%, rgba(3, 0, 130, 0) 112.6%);;
   height: 8vh;
}

.text-ofertas{
   margin: 0;
   font-weight: bold;
   font-size: large;
   padding: 15px;
}

.passagens{
   color: black;
   font-weight: bold;
   padding: 35px;
   background: linear-gradient(180deg, #D0D0D0 0%, rgba(217, 217, 217, 0) 100%);
}

.titles{
   color: #030082;
}

.passagem{
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.img-passagem{
   border-radius: 20px;
}

.local{
   width: 200px;
   text-align: center;
}

.values{
   color: #F00;
   font-weight: bolder;
}

.footer{
   background-color: #030082;
   height: 150px;
   font-size: larger;
   display: flex;
   text-align: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.about-footer{
   display: flex;
   flex-direction: column;
   line-height: 0;
}

.text-footer{
   font-size: larger;
   font-weight: bold;
}









